    <div class="panel panel-default" id="info-update-holder">
        <div class="panel-heading"><strong>Infos</strong></div>

        {% for inf in list_info %}
            {% if forloop.last %}
            <div class="panel-body last-info" id="{{ inf.id }}"><h3><a target="_blank" href="{{ inf.link }}" data-toggle="tooltip" title="{{ inf.titre|safe }}">{{ inf.titre|safe|title|truncatewords:"10" }}</a></h3>
                <p>
                {% if inf.photo %}
                    <a target="_blank" href="{{ inf.link}}"><img src="/dyvixitsolutions/media/{{ inf.photo }}" class="img-responsive" alt="Photo De la Derniere Info" width="225" height="225"></a>
                {% endif %}
                </p>

                <div class="well">
                    <p>
                        {{ inf.desc|safe|truncatewords:"50" }}
                        <br />
                        <a data-toggle="tooltip" title="{{ inf.desc|safe|capfirst }}">&gt;&gt;Read More...</a>
                    </p>
                </div>

            </div>
            {% endif %}

        {% empty %}
            <div class="panel-body last-info" id="0"><h1>Pas D'Info</h1>
                <div class="well">
                    <p>Aucune Information n'est actuellement disponible dans la BD!</p>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="panel panel-default" id="astuce-update-holder">
        <div class="panel-heading"><strong>Astuces</strong></div>

        {% for art in list_astuce %}
            {% if forloop.last %}
            <div class="panel-body last-astuce" id="{{ art.id }}"><h3><a target="_blank" href="{{ art.link }}" data-toggle="tooltip" title="{{ art.titre|safe }}">{{ art.titre|safe|title|truncatewords:"10" }}</a></h3>
                <p>
                {% if art.photo %}
                    <a target="_blank" href="{{ inf.link}}"><img src="/dyvixitsolutions/media/{{ art.photo }}" class="img-responsive" alt="Photo De la Derniere Astuce" width="225" height="225"></a>
                {% endif %}
                </p>

                <div class="well">
                    <p>
                        {{ art.desc|safe|truncatewords:"50" }}
                        <br />
                        <a data-toggle="tooltip" title="{{ art.desc|safe|capfirst }}">&gt;&gt;Read More...</a>
                    </p>
                </div>

            </div>
            {% endif %}

        {% empty %}
            <div class="panel-body last-astuce" id="0"><h1>Pas D'Astuce</h1>
                <div class="well">
                    <p>Aucune Astuce n'est actuellement disponible dans la BD!</p>
                </div>
            </div>
        {% endfor %}
    </div>

