    <div class="panel panel-default" id="info-update-holder">
        <div class="panel-heading">Infos</div>
        {% if list_info %}
            {% for inf in list_info %}
                {% if forloop.last %}
                <div class="panel-body last-info" id="{{ inf.id }}"><h3><a target="_blank" href="{{ inf.link }}">{{ inf.titre|safe|truncatewords:"10" }}</a></h3>
                    <p>
                    {% if inf.photo %}
                        <a target="_blank" href="{{ inf.link}}"><img src="/dyvixitsolutions/media/{{ inf.photo }}" class="img-responsive" alt="Photo De la Derniere Info" width="225" height="225"></a>
                    {% endif %}
                    </p>
                    <p>
                        {{ inf.desc|safe|truncatewords:"50" }}
                        <!--<button type="button" class="btn btn-sm btn-info" id="idPopover" data-toggle="popover" data-container="body" data-placement="bottom" data-content="And here's some amazing content. It's very engaging. Right?">Read More...</button>-->
                        <!--<a tabindex="0" class="btn btn-lg btn-danger" role="button" data-toggle="popover" data-trigger="focus" title="Dismissible popover" data-content="And here's some amazing content. It's very engaging. Right?">Dismissible popover</a>-->
                    </p>
                    <a data-toggle="tooltip" title="{{ inf.desc|safe }}">>>Read More...</a>
                </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <div class="panel-body last-info" id="0"><h1>Pas D'Info</h1>
                <p>Aucune Information n'est actuellement disponible dans la BD!</p>
            </div>
        {% endif %}
    </div>
    <div class="panel panel-default" id="astuce-update-holder">
        <div class="panel-heading">Astuces</div>
        {% if list_astuce %}
            {% for art in list_astuce %}
                {% if forloop.last %}
                <div class="panel-body last-astuce" id="{{ art.id }}"><h3><a target="_blank" href="{{ art.link }}">{{ art.titre|safe|truncatewords:"10" }}</a></h3>
                    <p>
                    {% if art.photo %}
                        <a target="_blank" href="{{ inf.link}}"><img src="/dyvixitsolutions/media/{{ art.photo }}" class="img-responsive" alt="Photo De la Derniere Astuce" width="225" height="225"></a>
                    {% endif %}
                    </p>
                    <p>
                        {{ art.desc|safe|truncatewords:"50" }}
                    </p>
                    <a data-toggle="tooltip" title="{{ art.desc|safe }}">>>Read More...</a>
                </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <div class="panel-body last-astuce" id="0"><h1>Pas D'Astuce</h1>
                <p>Aucune Astuce n'est actuellement disponible dans la BD!</p>
            </div>
        {% endif %}
    </div>

