{% extends 'dyvixitsolutions/base.html' %}
{% load static %}


{% block page-title %} Contacts {% endblock %}


{% block navigation %}
    <ul class="nav nav-pills nav-justified">
        <li role="presentation"><a href="/dyvixitsolutions/"><p><span class="glyphicon glyphicon-home"></span> Acceuil</p></a></li>
        <li role="presentation"><a href="/dyvixitsolutions/about/"><p><span class="glyphicon glyphicon-info-sign"></span> Qui sommes nous?</p></a></li>
        <li role="presentation"><a href="/dyvixitsolutions/services/"><p><span class="glyphicon glyphicon-flag"></span> Services</p></a></li>
        <li role="presentation"><a href="/dyvixitsolutions/produits/"><p><span class="glyphicon glyphicon-barcode"></span> Produits</p></a></li>
        <li role="presentation"><a href="/dyvixitsolutions/references/"><p><span class="glyphicon glyphicon-globe"></span> References</p></a></li>
        <li role="presentation" class="active"><a href="/dyvixitsolutions/contact/"><p><span class="glyphicon glyphicon-phone-alt"></span> Nous contacter</p></a></li>
    </ul>
{% endblock %}


{% block contenu %}
    <div class="alert alert-info" role="alert">
      <a href="/dyvixitsolutions/" class="#"><h1>D'Yvix I.T. Solutions</h1></a>
    </div>

    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Nous Contacter...</h3>
      </div>
        <div class="panel-body">
            {% if list_contact %}
              <div class="row">
                {% for contact in list_contact %}

                      <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                          <!--<img src="..." alt="...">-->
                          <div class="caption">
                            <u><span><b>Service: </b></span></u><h3>{{ contact.service|title }}</h3>
                              <div class="well">
                                <h4><span><u><b>Contact: </b></u></span>{{ contact.telephone }}</h4>
                                <p>
                                    {{ contact.desc|safe|truncatewords:"30" }}
                                    <a data-toggle="tooltip" title="{{ contact.desc|safe }}">>>More...</a>
                                </p>

                              </div>
                            <!--<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>-->
                          </div>
                        </div>
                      </div>

                {% endfor %}
              </div>
          {% else %}
            <p>No Contacts.</p>
          {% endif %}


        </div>
    </div>

{% endblock %}


{% block breadcrumb %}
    <div class="row"><!-- row -->
        <div class="col-lg-4">
        </div>
        <div class="col-lg-8">
            <ol class="breadcrumb">
                <li ><a href="/dyvixitsolutions/"><span class="glyphicon glyphicon-home"></span> Acceuil</a></li>
                <li ><a href="/dyvixitsolutions/about/"><span class="glyphicon glyphicon-info-sign"></span> Qui sommes nous?</a></li>
                <li ><a href="/dyvixitsolutions/services/"><span class="glyphicon glyphicon-flag"></span> Services</a></li>
                <li ><a href="/dyvixitsolutions/produits/"><span class="glyphicon glyphicon-barcode"></span> Produits</a></li>
                <li ><a href="/dyvixitsolutions/references/"><span class="glyphicon glyphicon-globe"></span> References</a></li>
                <li class="active"><span class="glyphicon glyphicon-phone-alt"></span> Nous contacter</li>
            </ol>
        </div>
    </div>

{% endblock %}


{% block javascript %}
    <script type="text/javascript" language="JavaScript" src="{% static 'assets/js/dyvixit_maj_articles.js' %}"></script>
{% endblock %}

{%block pagination %}{%endblock%}
