{% extends 'dyvixitsolutions/base.html' %}
{% load static %}

{% block page-title %} Details Produit {% endblock %}

{% block nav_services %}
    class="active"
{% endblock %}



{% block contenu %}
    <div class="alert alert-info" role="alert">
      <a href="/dyvixitsolutions/" class="#"><h1>D'Yvix I.T. Solutions</h1></a>
    </div>

    <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Details Service | {{ object.libelle }}</h3>
          </div>

        <div class="panel-body">
            <div class="row">


              <div class="col-sm-12 col-md-12">
                <div>
                    <div class="caption">

                        <h3 align="center"><span><strong> &gt;&gt; {{ object.libelle }} &lt;&lt; </strong></span></h3>
                            <h4><u>Categorie:</u><span> <strong><a href="{{ object.category.get_absolute_url }}">{{ object.category }}</a></strong></span></h4>
                        <p><u>Prix:</u><strong> {{ object.prix }} </strong> Francs CFA.</p>
                          <div class="well well-lg">
                              <p><strong><u>Description du Service:</u></strong>{{ object.desc|safe }}</p>
                              <br />
                              <a href="/dyvixitsolutions/assistant/" class="btn btn-primary" role="button" id="bouttonCommander">Commander</a>
                              <br />
                                {% if object.photo %}
                                    <img class="img-responsive" src="/dyvixitsolutions/media/{{ object.photo }}/" alt="{{ object.libelle }}">
                                {% else %}
                                    <img src="{% static 'assets/img/no_pix.jpeg' %}" class="img-responsive" alt="Image Service">
                                {% endif %}
                          </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
        <p align="center"><a href="{{ object.category.get_absolute_url }}" class="btn btn-primary" role="button">Retour Aux Services de Cette Categorie.</a></p>
    </div>

{% endblock %}


{% block breadcrumb %}
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-8">
            <ol class="breadcrumb">
                <li ><a href="/dyvixitsolutions/"><span class="glyphicon glyphicon-home"></span> Acceuil</a></li>
                <li ><a href="/dyvixitsolutions/about/"><span class="glyphicon glyphicon-info-sign"></span> Qui sommes nous?</a></li>
                <li class="active"><span class="glyphicon glyphicon-flag"></span> Services</li>
                <li ><a href="/dyvixitsolutions/produits/"><span class="glyphicon glyphicon-barcode"></span> Produits</a></li>
                <li ><a href="/dyvixitsolutions/references/"><span class="glyphicon glyphicon-globe"></span> References</a></li>
                <li ><a href="/dyvixitsolutions/contact/"><span class="glyphicon glyphicon-phone-alt"></span> Nous contacter</a></li>
            </ol>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    <script type="text/javascript" language="JavaScript" src="{% static 'assets/js/dyvixit_maj_articles.js' %}"></script>
{% endblock %}

{%block pagination %}{%endblock%}
