{% extends 'dyvixitsolutions/base.html' %}
{% load static %}


{% block page-title %} Home {% endblock %}


{% block navigation %}
    <ul class="nav nav-pills nav-justified">
        <li role="presentation"><a href="/dyvixitsolutions/"><p><span class="glyphicon glyphicon-home"></span> Acceuil</p></a></li>
        <li role="presentation"><a href="/dyvixitsolutions/about/"><p><span class="glyphicon glyphicon-info-sign"></span> Qui sommes nous?</p></a></li>
        <li role="presentation"><a href="/dyvixitsolutions/services/"><p><span class="glyphicon glyphicon-flag"></span> Services</p></a></li>
        <li role="presentation" class="active"><a href="/dyvixitsolutions/produits/"><p><span class="glyphicon glyphicon-barcode"></span> Produits</p></a></li>
        <li role="presentation"><a href="/dyvixitsolutions/references/"><p><span class="glyphicon glyphicon-globe"></span> References</p></a></li>
        <li role="presentation"><a href="/dyvixitsolutions/contact/"><p><span class="glyphicon glyphicon-phone-alt"></span> Nous contacter</p></a></li>
    </ul>
{% endblock %}




{% block slider-text %}
    <h4>Produits De Categorie</h4>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae explicabo autem eius excepturi saepe, velit aliquid rem earum accusamus aut sapiente, rerum harum, accusantium praesentium et quod reprehenderit consectetur vel.</p>
{% endblock %}


{% if slider %}
    {% block carousel %}
        {% for rea in slider %}
            <div class="item {% if forloop.first %}active{% endif %}">
              <img src="/dyvixitsolutions/media/{{ rea.photo }}" alt="{{ rea.titre }}" width=80% heigth=auto />
              <div class="carousel-caption">
                  <h3>{{ rea.titre }}</h3>
                  <p>{{ rea.description }}</p>
              </div>
            </div>
        {% endfor %}

    {% endblock %}
{% endif %}



{% block sidebar %}
    <div class="panel panel-default" id="info-update-holder">
        <div class="panel-heading">Infos</div>
        {% if list_info %}
            {% for inf in list_info %}
                {% if forloop.last %}
                <div class="panel-body last-info" id="{{ inf.id }}"><h1><a target="_blank" href="{{ inf.link }}">{{ inf.titre }}</a></h1>
                    <p>
                    {% if inf.photo %}
                        <a target="_blank" href="{{ inf.link}}"><img src="/dyvixitsolutions/media/{{ inf.photo }}" alt="Photo De la Derniere Info" width="225" height="225"></a>
                    {% endif %}
                    </p>
                    <p>{{ inf.desc }}</p>
                </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <div class="panel-body last-info" id="0"><h1>Pas D'Info</h1>
                <p>Aucune Information n'est actuellement disponible dans la BD!</p>
            </div>
        {% endif %}
    </div>
    <div class="panel panel-default" id="astuce-update-holder">
        <div class="panel-heading">Astuces</div>
        {% if list_astuce %}
            {% for art in list_astuce %}
                {% if forloop.last %}
                <div class="panel-body last-astuce" id="{{ art.id }}"><h1><a target="_blank" href="{{ art.link }}">{{ art.titre }}</a></h1>
                    <p>
                    {% if art.photo %}
                        <a target="_blank" href="{{ inf.link}}"><img src="/dyvixitsolutions/media/{{ art.photo }}" alt="Photo De la Derniere Astuce" width="225" height="225"></a>
                    {% endif %}
                    </p>
                    <p>{{ art.desc }}</p>
                </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <div class="panel-body last-astuce" id="0"><h1>Pas D'Astuce</h1>
                <p>Aucune Astuce n'est actuellement disponible dans la BD!</p>
            </div>
        {% endif %}
    </div>
{% endblock %} <!-- Block Sidebar -->



{% block contenu %}
    <div class="alert alert-info" role="alert">
      <a href="#" class="#"><h1>D'Yvix I.T. Solutions Produits {{ produits_cat}}</h1></a>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Produits: {{ nom_cat_materiel }}</h3>
      </div>
        
        <div class="panel-body">
            <div class="row">

                {% for prod in list_materiels_dans_cat %}


                          <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                {% if prod.photo %}
                                    <img src="/dyvixitsolutions/media/{{ prod.photo }}/" alt="Image prodice" width="150" height="150">
                                {% else %}
                                    <img src="{% static 'assets/img/no_pix.jpeg' %}" alt="Image Produit" width="150" height="150">
                                {% endif %}
                              <div class="caption">
                                <h3>{{ prod.libelle }}</h3>
                                <p><b>Prix: </b>{{ prod.prix }}</p>
                                  <p>{{ prod.desc }}</p>
                                <!--<p><a href="#" class="btn btn-primary" role="button">Ok</a> <a href="#" class="btn btn-default" role="button">Cancel</a></p>-->
                              </div>
                            </div>
                          </div>

                {% empty %}
                    <h1>Pas de Produits dans cette Categorie!</h1>
                {% endfor %}
            </div>
        </div>
        <p align="center"><a href="/dyvixitsolutions/produits/">Retour Aux Categories de Nos Produits.</a></p>
    </div>

{% endblock %} <!-- block Contenu -->


{% block breadcrumb %}
<div class="row"><!-- row -->
    <div class="col-lg-4"></div>
    <div class="col-lg-8">
        <ol class="breadcrumb">
            <li ><a href="/dyvixitsolutions/"><span class="glyphicon glyphicon-home"></span> Acceuil</a></li>
            <li ><a href="/dyvixitsolutions/about/"><span class="glyphicon glyphicon-info-sign"></span> Qui sommes nous?</a></li>
            <li ><a href="/dyvixitsolutions/services/"><span class="glyphicon glyphicon-flag"></span> Services</a></li>
            <li class="active"><span class="glyphicon glyphicon-barcode"></span> Produits</li>
            <li ><a href="/dyvixitsolutions/references/"><span class="glyphicon glyphicon-globe"></span> References</a></li>
            <li ><a href="/dyvixitsolutions/contact/"><span class="glyphicon glyphicon-phone-alt"></span> Nous contacter</a></li>
        </ol>
    </div>
</div>

{% endblock %}

{% block javascript %}
    <script type="text/javascript" language="JavaScript" src="{% static 'assets/js/dyvixit_maj_articles.js' %}"></script>
{% endblock %}

{%block pagination %}{%endblock%}
