{% extends 'dyvixitsolutions/base.html' %}
{% load static %}


{% block page-title %} Home {% endblock %}


{% block navigation %}
    <ul class="nav nav-pills nav-justified">
        <li role="presentation"><a href="/dyvixitsolutions/"><p><span class="glyphicon glyphicon-home"></span> Acceuil</p></a></li>
        <li role="presentation"><a href="/dyvixitsolutions/about/"><p><span class="glyphicon glyphicon-info-sign"></span> Qui sommes nous?</p></a></li>
        <li role="presentation"><a href="/dyvixitsolutions/services/"><p><span class="glyphicon glyphicon-flag"></span> Services</p></a></li>
        <li role="presentation" class="active"><a href="/dyvixitsolutions/produits/"><p><span class="glyphicon glyphicon-barcode"></span> Produits</p></a></li>
        <li role="presentation"><a href="/dyvixitsolutions/references/"><p><span class="glyphicon glyphicon-globe"></span> References</p></a></li>
        <li role="presentation"><a href="/dyvixitsolutions/contact/"><p><span class="glyphicon glyphicon-phone-alt"></span> Nous contacter</p></a></li>
    </ul>
{% endblock %}




{% block slider-text %}
    <h4>Produits De Categorie</h4>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae explicabo autem eius excepturi saepe, velit aliquid rem earum accusamus aut sapiente, rerum harum, accusantium praesentium et quod reprehenderit consectetur vel.</p>
{% endblock %}


{% block header-img1 %}
    Image 1
{% endblock %}
{% block header-img2 %}
    Image 2
{% endblock %}
{% block header-img3 %}
    Image 3
{% endblock %}


{% block caption-img1 %}
    <p>Caption for Image 1</p>
{% endblock %}
{% block caption-img2 %}
    <p>Caption for Image 2</p>
{% endblock %}
{% block caption-img3 %}
    <p>Caption for Image 3</p>
{% endblock %}



{% block sidebar %}
    <div class="panel panel-default">
        <div class="panel-heading">Infos</div>
        {% if info %}
            {% for inf in info %}
                <div class="panel-body"><h1><a href="{{ inf.link }}">{{ inf.titre }}</a></h1>
                    {% if inf.photo %}
                        <a href="{{ inf.link}}"><img src="/dyvixitsolutions/media/{{ inf.photo }}/" alt="Photo De la Derniere Info" width="225" height="225"></a>
                    {% endif %}
                    <p>{{ inf.desc }}</p>
                </div>
            {% endfor %}
        {% else %}
            <div class="panel-body">Pas D'Info</h1>
                <p>Aucune Information n'est actuellement disponible dans la bd!</p>
            </div>
        {% endif %}
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Astuces</div>
        {% if article %}
            {% for art in article %}
                <div class="panel-body"><h1><a href="{{ art.link }}">{{ art.titre }}</a></h1>
                    {% if art.photo %}
                        <a href="{{ inf.link}}"><img src="/dyvixitsolutions/media/{{ art.photo }}/" alt="Photo Du Dernier Article" width="225" height="225"></a>
                    {% endif %}
                    <p>{{ art.desc }}</p>
                </div>
            {% endfor %}
        {% else %}
            <div class="panel-body"><h1>Pas D'Article</h1>
                <p>Aucun Article n'est actuellement disponible dans la BD!</p>
            </div>
        {% endif %}
    </div>
{% endblock %} <!-- Block Sidebar -->



{% block contenu %}
    <div class="alert alert-info" role="alert">
      <a href="#" class="#"><h1>D'Yvix I.T. Solutions Produits {{ produits_cat}}</h1></a>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Produits: {{ produit_cat }}</h3>
      </div>
        
        <div class="panel-body">
            <div class="row">
                {% if produits %}
                    {% for prod in produits %}

                          <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                {% if prod.photo %}
                                    <img src="/dyvixitsolutions/media/{{ prod.photo }}/" alt="Image prodice" width="150" height="150">
                                {% else %}
                                    <img src="{% static 'assets/img/no_pix.jpeg' %}" alt="Image Produit" width="150" height="150">
                                {% endif %}
                              <div class="caption">
                                <h3>{{ prod.libelle }}</h3>
                                <p><b>Prix: </b>{{ prod.prix_unitaire }}</p>
                                  <p>{{ prod.desc }}</p>
                                <p><a href="#" class="btn btn-primary" role="button">Ok</a> <a href="#" class="btn btn-default" role="button">Cancel</a></p>
                              </div>
                            </div>
                          </div>
                    {% endfor %}
                {% else %}
                    <h1>Pas de Produits dans cette Categorie!</h1>
                {% endif %}
            </div>
        </div>
        <p align="center"><a href="/dyvixitsolutions/produits/">Retour Aux Categories de Nos Produits.</a></p>
    </div>

{% endblock %} <!-- block Contenu -->


{% block breadcrumb %}
<div class="row"><!-- row -->
    <div class="col-lg-4"></div>
    <div class="col-lg-8">
        <ol class="breadcrumb">
            <li ><a href="/dyvixitsolutions/"><span class="glyphicon glyphicon-home"></span> Acceuil</a></li>
            <li ><a href="/dyvixitsolutions/about/"><span class="glyphicon glyphicon-info-sign"></span> Qui sommes nous?</a></li>
            <li ><a href="/dyvixitsolutions/services/"><span class="glyphicon glyphicon-flag"></span> Produits</a></li>
            <li class="active"><span class="glyphicon glyphicon-barcode"></span> Produits</li>
            <li ><a href="/dyvixitsolutions/references/"><span class="glyphicon glyphicon-globe"></span> References</a></li>
            <li ><a href="/dyvixitsolutions/contact/"><span class="glyphicon glyphicon-phone-alt"></span> Nous contacter</a></li>
        </ol>
    </div>
</div>

{% endblock %}

{% block javascript %}
    <script type="text/javascript" language="JavaScript" src="{% static 'assets/js/dyvixit_produit.js' %}"></script>
{% endblock %}
