{% extends 'dyvixitsolutions/base.html' %}
{% load static %}


{% block page-title %} Produits De Categorie {% endblock %}


{% block navigation %}
    <ul class="nav nav-pills nav-justified">
        <li role="presentation"><a href="/dyvixitsolutions/"><p><span class="glyphicon glyphicon-home"></span> Acceuil</p></a></li>
        <li role="presentation"><a href="/dyvixitsolutions/about/"><p><span class="glyphicon glyphicon-info-sign"></span> Qui sommes nous?</p></a></li>
        <li role="presentation"><a href="/dyvixitsolutions/services/"><p><span class="glyphicon glyphicon-flag"></span> Services</p></a></li>
        <li role="presentation" class="active"><a href="/dyvixitsolutions/produits/"><p><span class="glyphicon glyphicon-barcode"></span> Produits</p></a></li>
        <li role="presentation"><a href="/dyvixitsolutions/references/"><p><span class="glyphicon glyphicon-globe"></span> References</p></a></li>
        <li role="presentation"><a href="/dyvixitsolutions/contact/"><p><span class="glyphicon glyphicon-phone-alt"></span> Nous contacter</p></a></li>
    </ul>
{% endblock %}


{% block contenu %}
    <div class="alert alert-info" role="alert">
      <a href="/dyvixitsolutions/" class="#"><h1>D'Yvix I.T. Solutions</h1></a>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Produits: {{ nom_cat_materiel }}</h3>
      </div>
        
        <div class="panel-body">
            <div class="row">

                {% for prod in list_materiels_dans_cat %}


                          <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                {% if prod.photo %}
                                    <img src="/dyvixitsolutions/media/{{ prod.photo }}/" class="img-responsive" alt="{{ prod.libelle|safe }}" width="150" height="150">
                                {% else %}
                                    <img src="{% static 'assets/img/no_pix.jpeg' %}" class="img-responsive" alt="Image Produit" width="150" height="150">
                                {% endif %}
                              <div class="caption">
                                <h3 data-toggle="tooltip" title="{{ prod.libelle|safe }}">{{ prod.libelle|safe }}</h3>
                                <p><b>Prix: </b>{{ prod.prix }}</p>
                                  <div class="well">
                                      {{ prod.desc|safe|truncatewords:"3" }}
                                      <br />
                                      <a href="{{ prod.get_absolute_url }}" data-toggle="tooltip" title="{{ prod.desc|safe }}">>>Read More...</a>
                                  </div>

                                <a href="/dyvixitsolutions/assistant/" class="btn btn-primary" role="button" id="bouttonCommander">Commander</a>
                                  <!--<p> <a href="#" class="btn btn-default" role="button">Cancel</a></p>-->
                              </div>
                            </div>
                          </div>

                {% empty %}
                    <h1>Pas de Produits dans cette Categorie!</h1>
                {% endfor %}
            </div>
        </div>
        <p align="center"><a href="/dyvixitsolutions/produits/" class="btn btn-primary" role="button">Retour Aux Categories de Nos Produits.</a></p>
    </div>

{% endblock %} <!-- block Contenu -->


{% block breadcrumb %}
<div class="row"><!-- row -->
    <div class="col-lg-4"></div>
    <div class="col-lg-8">
        <ol class="breadcrumb">
            <li ><a href="/dyvixitsolutions/"><span class="glyphicon glyphicon-home"></span> Acceuil</a></li>
            <li ><a href="/dyvixitsolutions/about/"><span class="glyphicon glyphicon-info-sign"></span> Qui sommes nous?</a></li>
            <li ><a href="/dyvixitsolutions/services/"><span class="glyphicon glyphicon-flag"></span> Services</a></li>
            <li class="active"><span class="glyphicon glyphicon-barcode"></span> Produits</li>
            <li ><a href="/dyvixitsolutions/references/"><span class="glyphicon glyphicon-globe"></span> References</a></li>
            <li ><a href="/dyvixitsolutions/contact/"><span class="glyphicon glyphicon-phone-alt"></span> Nous contacter</a></li>
        </ol>
    </div>
</div>

{% endblock %}

{% block javascript %}
    <script type="text/javascript" language="JavaScript" src="{% static 'assets/js/dyvixit_maj_articles.js' %}"></script>
{% endblock %}

{%block pagination %}{%endblock%}
