{% extends 'dyvixitsolutions/references.html' %}
{% load static %}

    {% block content %}
        <ul>
            {% for ref in object_list %}
                <li>{{ ref.titre }}</li>
            {% endfor %}
        </ul>
    {% endblock %}




{% if slider %}
    {% block carousel %}
        {% for rea in slider %}
            <div class="item {% if forloop.first %}active{% endif %}">
              <img src="/dyvixitsolutions/media/{{ rea.photo }}" alt="{{ rea.titre }}" width=80% heigth=auto />
              <div class="carousel-caption">
                  <h3>{{ rea.titre }}</h3>
                  <p>{{ rea.description }}</p>
              </div>
            </div>
        {% endfor %}

    {% endblock %}
{% endif %}





{% block contenu %}
    <div class="alert alert-info" role="alert">
      <a href="/dyvixitsolutions/" class="#"><h1>D'Yvix I.T. Solutions</h1></a>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Nos References</h3>
      </div>
        <div class="panel-body">
            <!-- Ne sert strictement a rien -->

            {% for ref in object_list %}
                {% if forloop.counter|divisibleby:2 %}
                    <div class="well">
                        <div class="media">
                          <div class="media-left media-middle">
                            <a href="#">
                                {% if ref.photo %}
                                    <img class="media-object" src="/dyvixitsolutions/media/{{ ref.photo }}/" alt="Help!" width="150" height="150">
                                {% else %}
                                    <img class="media-object" src="{% static 'img/help.jpeg' %}" alt="Help!" width="150" height="150">
                                {% endif %}

                            </a>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading"><a href="#">{{ ref.titre }}</a></h4>
                            <p>{{ ref.description }}</p>
                          </div>
                        </div>
                    </div>
                {% else %}
                    <div class="well">
                        <div class="media">
                          <div class="media-body">
                            <h4 class="media-heading"><a href="#">{{ ref.titre }}</a></h4>
                            <p>{{ ref.description }}</p>
                          </div>
                          <div class="media-right media-middle">
                            <a href="#">
                                {% if ref.photo %}
                                    <img class="media-object" src="/dyvixitsolutions/media/{{ ref.photo }}/" alt="Help!" width="150" height="150">
                                {% else %}
                                    <img class="media-object" src="{% static 'img/help.jpeg' %}" alt="Help!" width="150" height="150">
                                {% endif %}

                            </a>
                          </div>
                        </div>
                    </div>
                {% endif %}
                <br />

            {% endfor %}

            <!-- Ne sert strictement a rien -->

            </div>
        </div>

{% endblock %}

