{% extends 'dyvixitsolutions/base.html' %}
{% load static %}


{% block page-title %} Home {% endblock %}


{% block navigation %}
    <ul class="nav nav-pills nav-justified">
        <li role="presentation"><a href="/dyvixitsolutions/"><p><span class="glyphicon glyphicon-home"></span> Acceuil</p></a></li>
        <li role="presentation"><a href="/dyvixitsolutions/about/"><p><span class="glyphicon glyphicon-info-sign"></span> Qui sommes nous?</p></a></li>
        <li role="presentation" class="active"><a href="/dyvixitsolutions/services/"><p><span class="glyphicon glyphicon-flag"></span> Services</p></a></li>
        <li role="presentation"><a href="/dyvixitsolutions/produits/"><p><span class="glyphicon glyphicon-barcode"></span> Produits</p></a></li>
        <li role="presentation"><a href="/dyvixitsolutions/references/"><p><span class="glyphicon glyphicon-globe"></span> References</p></a></li>
        <li role="presentation"><a href="/dyvixitsolutions/contact/"><p><span class="glyphicon glyphicon-phone-alt"></span> Nous contacter</p></a></li>
    </ul>
{% endblock %}




{% block slider-text %}
    <h4>Types de Service</h4>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae explicabo autem eius excepturi saepe, velit aliquid rem earum accusamus aut sapiente, rerum harum, accusantium praesentium et quod reprehenderit consectetur vel.</p>
{% endblock %}


{% block header-img1 %}
    Image 1
{% endblock %}
{% block header-img2 %}
    Image 2
{% endblock %}
{% block header-img3 %}
    Image 3
{% endblock %}


{% block caption-img1 %}
    <p>Caption for Image 1</p>
{% endblock %}
{% block caption-img2 %}
    <p>Caption for Image 2</p>
{% endblock %}
{% block caption-img3 %}
    <p>Caption for Image 3</p>
{% endblock %}



{% block sidebar %}
    <div class="panel panel-default">
        <div class="panel-heading">Infos</div>
        {% if list_info %}
            {% for inf in list_info %}
                <div class="panel-body"><h1><a href="{{ inf.link }}">{{ inf.titre }}</a></h1>
                    {% if inf.photo %}
                        <a href="{{ inf.link}}"><img src="/dyvixitsolutions/media/{{ inf.photo }}" alt="Photo De la Derniere Info" width="225" height="225"></a>
                    {% endif %}
                    <p>{{ inf.desc }}</p>
                </div>
            {% endfor %}
        {% else %}
            <div class="panel-body"><h1>Pas D'Info</h1>
                <p>Aucune Information n'est actuellement disponible dans la bd!</p>
            </div>
        {% endif %}
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Astuces</div>
        {% if list_astuce %}
            {% for art in list_astuce %}
                <div class="panel-body"><h1><a href="{{ art.link }}">{{ art.titre }}</a></h1>
                    {% if art.photo %}
                        <a href="{{ inf.link}}"><img src="/dyvixitsolutions/media/{{ art.photo }}" alt="Photo Du Dernier Article" width="225" height="225"></a>
                    {% endif %}
                    <p>{{ art.desc }}</p>
                </div>
            {% endfor %}
        {% else %}
            <div class="panel-body"><h1>Pas D'Article</h1>
                <p>Aucun Article n'est actuellement disponible dans la BD!</p>
            </div>
        {% endif %}
    </div>
{% endblock %} <!-- Block Sidebar -->


{% block contenu %}
    <div class="alert alert-info" role="alert">
      <a href="#" class="#"><h1>D'Yvix I.T. Solutions Categories Services</h1></a>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Nos Services par Categories</h3>
      </div>
        <div class="panel-body">
            {% if list_cat_service %}
              {% for cat_serv in list_cat_service %}
                {% if forloop.counter|divisibleby:2 %}
                    <div class="media">
                      <div class="media-left media-middle">
                        <a href="/dyvixitsolutions/services/category/{{ cat_serv.titre }}/">
                            {% if cat_serv.photo %}
                                    <img class="media-object" src="/dyvixitsolutions/media/{{ cat_serv.photo }}" alt="Image Categorie Service" width="200" height="200">
                            {% else %}
                                <img class="media-object" src="{% static 'assets/img/no_pix.jpeg' %}" alt="Image Categorie Service" width="200" height="200">
                            {% endif %}
                        </a>
                      </div>
                      <div class="media-body">
                        <h4 class="media-heading"><a href="/dyvixitsolutions/services/category/{{ cat_serv.titre }}/">{{ cat_serv.titre }}</a></h4>
                        <p>{{ cat_serv.desc }}</p>
                      </div>
                    </div>
                {% else %}
                    <div class="media">
                      <div class="media-body">
                        <h4 class="media-heading"><a href="/dyvixitsolutions/services/category/{{ cat_serv.titre }}/">{{ cat_serv.titre }}</a></h4>
                        <p>{{ cat_serv.desc }}</p>
                      </div>
                      <div class="media-right media-middle">
                        <a href="/dyvixitsolutions/services/category/{{ cat_serv.titre }}/">
                            {% if cat_serv.photo %}
                                <img class="media-object" src="/dyvixitsolutions/media/{{ cat_serv.photo }}" alt="Image Categorie Service" width="200" height="200">
                            {% else %}
                                <img class="media-object" src="{% static 'assets/img/no_pix.jpeg' %}" alt="Image Categorie Service" width="200" height="200">
                            {% endif %}
                        </a>
                      </div>
                    </div>
                {% endif %}
                <br />
            {% endfor %}

            {% else %}
            <h1>Aucun Service Disponible!</h1>
            {% endif %}
            </div>

        </div>

{% endblock %} <!-- Block Contenu -->


{% block breadcrumb %}
    <div class="row"><!-- row -->
        <div class="col-lg-4"></div>
        <div class="col-lg-8">
            <ol class="breadcrumb">
                <li ><a href="/dyvixitsolutions/"><span class="glyphicon glyphicon-home"></span> Acceuil</a></li>
                <li ><a href="/dyvixitsolutions/about/"><span class="glyphicon glyphicon-info-sign"></span> Qui sommes nous?</a></li>
                <li class="active"><span class="glyphicon glyphicon-flag"></span> Services</li>
                <li ><a href="/dyvixitsolutions/produits/"><span class="glyphicon glyphicon-barcode"></span> Produits</a></li>
                <li ><a href="/dyvixitsolutions/references/"><span class="glyphicon glyphicon-globe"></span> References</a></li>
                <li ><a href="/dyvixitsolutions/contact/"><span class="glyphicon glyphicon-phone-alt"></span> Nous contacter</a></li>
            </ol>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    <script type="text/javascript" language="JavaScript" src="{% static 'assets/js/dyvixit_service.js' %}"></script>
{% endblock %}
