{% extends 'dyvixitsolutions/base.html' %}
{% load static %}
{% load url from future %}


{% block page-title %} Categories Services {% endblock %}


{% block navigation %}
    <ul class="nav nav-pills nav-justified">
        <li role="presentation"><a href="/dyvixitsolutions/"><p><span class="glyphicon glyphicon-home"></span> Acceuil</p></a></li>
        <li role="presentation"><a href="/dyvixitsolutions/about/"><p><span class="glyphicon glyphicon-info-sign"></span> Qui sommes nous?</p></a></li>
        <li role="presentation" class="active"><a href="/dyvixitsolutions/services/"><p><span class="glyphicon glyphicon-flag"></span> Services</p></a></li>
        <li role="presentation"><a href="/dyvixitsolutions/produits/"><p><span class="glyphicon glyphicon-barcode"></span> Produits</p></a></li>
        <li role="presentation"><a href="/dyvixitsolutions/references/"><p><span class="glyphicon glyphicon-globe"></span> References</p></a></li>
        <li role="presentation"><a href="/dyvixitsolutions/contact/"><p><span class="glyphicon glyphicon-phone-alt"></span> Nous contacter</p></a></li>
    </ul>
{% endblock %}


{% block contenu %}
    <div class="alert alert-info" role="alert">
      <a href="/dyvixitsolutions/" class="#"><h1>D'Yvix I.T. Solutions</h1></a>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Nos Services par Categories</h3>
      </div>
        <div class="panel-body">
            {% if list_cat_service %}
              {% for cat_serv in list_cat_service %}
                {% if forloop.counter|divisibleby:2 %}
                    <div class="well">
                        <div class="media">
                          <div class="media-left media-middle">
                            <a href="{{ cat_serv.get_absolute_url }}">
                                {% if cat_serv.photo %}
                                        <img class="media-object" src="/dyvixitsolutions/media/{{ cat_serv.photo }}" alt="Image Categorie Service" width="200" height="200">
                                {% else %}
                                    <img class="media-object" src="{% static 'assets/img/no_pix.jpeg' %}" alt="Image Categorie Service" width="200" height="200">
                                {% endif %}
                            </a>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading"><a href="{{ cat_serv.get_absolute_url }}">{{ cat_serv.titre }}</a></h4>
                            <p>{{ cat_serv.desc|safe|truncatewords:"150" }}</p>
                              <a data-toggle="tooltip" title="{{ cat_serv.desc|safe }}">>>Read More...</a>
                          </div>
                        </div>
                    </div>
                {% else %}
                    <div class="well">
                        <div class="media">
                          <div class="media-body">
                            <h4 class="media-heading"><a href="{{ cat_serv.get_absolute_url }}">{{ cat_serv.titre }}</a></h4>
                            <p>{{ cat_serv.desc|safe|truncatewords:"150" }}</p>
                              <a data-toggle="tooltip" title="{{ cat_serv.desc|safe }}">>>Read More...</a>
                          </div>
                          <div class="media-right media-middle">
                            <a href="{{ cat_serv.get_absolute_url }}">
                                {% if cat_serv.photo %}
                                    <img class="media-object" src="/dyvixitsolutions/media/{{ cat_serv.photo }}" alt="Image Categorie Service" width="200" height="200">
                                {% else %}
                                    <img class="media-object" src="{% static 'assets/img/no_pix.jpeg' %}" alt="Image Categorie Service" width="200" height="200">
                                {% endif %}
                            </a>
                          </div>
                        </div>
                    </div>
                {% endif %}
                <br />
            {% endfor %}

            {% else %}
            <h1>Aucun Service Disponible!</h1>
            {% endif %}
            </div>

        </div>

{% endblock %} <!-- Block Contenu -->


{% block breadcrumb %}
    <div class="row"><!-- row -->
        <div class="col-lg-4"></div>
        <div class="col-lg-8">
            <ol class="breadcrumb">
                <li ><a href="/dyvixitsolutions/"><span class="glyphicon glyphicon-home"></span> Acceuil</a></li>
                <li ><a href="/dyvixitsolutions/about/"><span class="glyphicon glyphicon-info-sign"></span> Qui sommes nous?</a></li>
                <li class="active"><span class="glyphicon glyphicon-flag"></span> Services</li>
                <li ><a href="/dyvixitsolutions/produits/"><span class="glyphicon glyphicon-barcode"></span> Produits</a></li>
                <li ><a href="/dyvixitsolutions/references/"><span class="glyphicon glyphicon-globe"></span> References</a></li>
                <li ><a href="/dyvixitsolutions/contact/"><span class="glyphicon glyphicon-phone-alt"></span> Nous contacter</a></li>
            </ol>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    <script type="text/javascript" language="JavaScript" src="{% static 'assets/js/dyvixit_maj_articles.js' %}"></script>
{% endblock %}

{%block pagination %}{%endblock%}
